body {
  text-align: center;
  margin: 0 auto;
  background-color: #000000;
  background-image: url(images/character_creator/frontend/src/images/background-c567512b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.home-button {
  padding: 1em;
  background: #A61C00;
}

.jumbotron {
  margin: 3em auto;
  border: .2em solid #FFFFFF;
  background: #A61C00cc;
}
